.page-header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../images/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
}

.header_title {
  margin-bottom: 10px;
  text-align: center;
  @include font-settings(1.125rem, 1.2, 700, $second-font-color);
}
.content-search_input {
  padding-left: 10px;
  height: 30px;
  width: 250px;
  color: $second-font-color;
  background-image: url(../images/search_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid $second-font-color;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  outline: transparent;
  &::placeholder {
    color: $fourth-font-color;
  }
}
